body {
	margin: 0;
	padding: 0;
}

table {
	font-family: sans-serif;
	font-size: 12px;
	width: 450px;
    border-collapse: collapse;
	border-bottom: 1px solid #a8a894;
}
td {
	padding: 5px;
	border-right: 1px solid #a8a894;
	border-left: 1px solid #a8a894;
}
thead {
	text-align: left;
	font-weight: normal;
	background: linear-gradient(#59bd06, #629f4b);
	color: #fff;
}
tr:nth-child(even) {
	background: #ececd8;
}

img {
	height: 12px;
	margin-right: 3px;
}